<header id="header">
    <h1>Trip Explorer</h1>
    <div class="links">
        <a href="/"><button class="button">All Trips</button></a>
        <a href="/add-trip"><button class="button">Add A Trip</button></a>
    </div>
</header>