<div class="container">
    <div class="img">
        <img src="{{image}}">
    </div>
    <div class="info">
        <h3>{{title}}</h3>
        <p><i>{{departureDate}}</i> - <i>{{returnDate}}</i></p>
    </div>
    <div class="actions">
        <a href="/update-trip/{{tripId}}">
            <button class="button">Update</button>
        </a>
        <form method="POST" action="/delete-trip/{{tripId}}">
            <button class="button delete">Delete Trip</button>
        </form>
    </div>
</div>