<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Trips - Page Not Found</title>
</head>
<body>
    {{>header}}
    <div id="container">
        <h1>Page not found...</h1>
    </div>
</body>
</html>