<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Trips - Add Trip</title>
</head>
<body>
    {{> header}}
    <div id="container">
        {{>tripForm}}
    </div>

    {{#username}}
        {{> chat}}
    {{/username}}
</body>
</html>

