<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Trips</title>
</head>
<body>
    {{> header}}
    <div id="container">
        <h2>{{caption}}</h2>
        {{#error}}
        <h3 class="error">{{error}}</h3>
        {{/error}}
        <form action="/{{url}}" method="POST" class="form">
            <div class="form-field">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your username" value="{{username}}" required>
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <button class="button">{{caption}}</button>
        </form>
    </div>
</body>
</html>