#header {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 2em;
    row-gap: 0.6em;
}

.links a {
    text-decoration: none;
    display: block;
}

.links a button {
    padding: 5px;
    width: 100%;
}

.button {
    background-color: lightcyan;
    border-radius: 7px;
    cursor: pointer;
}

.submit {
    background-color: darkgreen;
    font-weight: bold;
    color: white;
}

.delete {
    background-color: darkred;
    font-weight: bold;
    color: white;
}

.sort {
    display: flex;
    column-gap: 1em;
    height: 2em;
    margin-bottom: 1em;
    align-items: center;
}

.sort h4 {
    margin-right: -0.5em;
}

.sort a {
    text-decoration: none;
    padding: 1em;
    transition: 0.2s ease-in;
}

.sort a:hover {
    background-color: rgb(240, 240, 250);
    border-radius: 25px;
}

#container,
.container {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(10, 10, 10.3);
    margin: 5px;
    padding: 1em;
}

#container h2 {
    text-align: center;
}

.container {
    display: flex;
    column-gap: 2em;
    height: 10em;
}

.container:not(:last-child) {
    margin-bottom: 1em;
}

.img {
    width: 26em;
}

.container img {
    height: 100%;
}

.info {
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 8em;
}

.actions button {
    padding: 1.5em;
    width: 9em;
}

.trip-form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.trip-form button {
    padding: 1em 0;
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

@media screen and (min-width: 550px) {
    #header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 2em;
        padding: 0 1em;
    }

    .links {
        flex-direction: row;
        width: 16em;
    }

    .links a button {
        padding: 0.5em 2em;
    }
}
